<!DOCTYPE html>
<html>
<head>
  <title>UserApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "User list", root_path, class: "navbar-brand" %>
    </div>

    <div class="navbar-header">
      <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? %>
          <li><%= link_to current_admin.email, edit_admin_registration_path %></li>
          <li><%= link_to "Sign_out", destroy_admin_session_path, method: :delete %></li>
        <%else %>
          <li><%= link_to "Log in", new_admin_session_path%></li>
          <li><%= link_to "Sign up", new_admin_registration_path %></li>
        <%end%>
      </ul>
    </div>

  </div>

</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<body>
<%= yield %>
</body>
</html>
